<!DOCTYPE html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SECRET</title>
    <link rel="stylesheet" href="/styles/style.css">
		<!-- 這邊的路徑需要把前面的“/public”去掉 -->
</head>
<body>
    <h1>MySeCrEt</h1>
</body>
</html>